h1{
    font-family: 'Lexend Mega', sans-serif;
}
h2{
    font-family: 'Hachi Maru Pop', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
h3{
    font-family: 'New Rocker', cursive;
}